:root {
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only {
    display: none;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}


.nameplate-container {
    width: 300px;
}

.nameplate {
    margin: 2rem;
    width: 100%;
}

.nav-bar {
    padding: 0 2rem 0 0 ;
    margin: 0 0 0 0;
    list-style: none;
    font-size: 1.25em;
    font-weight: 600;
    --gap: 1.5em;
}

.nav-bar a {
    text-decoration: none;
    color: #00A05E;
}

@media (max-width: 65em) {
    .nav-bar {
        --gap: 1.25em;
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 0;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .nav-bar[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        background: url(/assets/icon-hamburger-menu.svg);
        width: 2.5rem;
        aspect-ratio: 1;
        top: 3rem;
        right: 2rem;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../assets/icon-hamburger-menu-close.svg);
        position: fixed;
    }

    .nameplate-container {
        width: 200px;
    }
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-image-container {
    height: 550px;
    width: 1000px;
}

.article-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.image-caption-container {
    margin-top: 10px;
    width: 900px;
    font-size: 0.85em;
}

#caption-title {
    font-weight: bold;
}

#photo-credit {
    font-style: italic;
    font-weight: 600;
}

.banner-headline-container {
    font-weight: 800;
    font-size: 2.5em;
    width: 900px;
    padding: 20px 30px;
}

.by-line {
    margin-top: -10px;
    font-size: 0.8em;
    width: 900px;
}

.article-content {
    width: 900px;
}



